.navbar-nav {
    font-size: 1.2rem;
  }
  
  .nav-link {
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
  }
  
  .container {
    margin-top: 100px; /* add a top margin of 80px to create space */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 54px;
    right: 54px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.92);
    padding: 1rem;
}

@media (min-width: 768px) {
    .navbar {
        left: 0px;
        right: 0px;
        padding: 1rem 2rem;
    }

}

@media (max-width: 436px) {
  .navbar {
      left: 0px;
      right: 0px;
      padding: 1rem 2rem;
  }

  .navbar-nav {
    font-size: 0.8rem;
  }

  .container {
    margin-top: 100px; /* add a top margin of 80px to create space */
    margin-bottom: 100px;
  }

  .navbar.navbar-expand-lg {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the column */
    height: auto; /* Allow the container to expand vertically */
  }
  .navbar-toggler {
    order: 2; /* Move the toggle button to the bottom */
    margin-top: 1rem; /* Add some space between the button and the menu */
    margin-left: auto; /* Move the toggle button to the right */
  }
  .navbar-collapse {
    order: 1; /* Move the menu to the top */
    margin-top: 1rem; /* Add some space between the menu and the top */
  }

}

  /* .navbar {
    position: fixed;
    top: 0;
    left: 54px;
    right: 54px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.92);
    padding: 1rem;
  } */
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: #f8f9fa;
  }

  .data-item:first-child {
    margin-top: 100px;
  }
  
  